<%- include('./partials/header'); -%>
    <div class="row main-row">
        <%- include('./partials/categories-menu'); -%>
            <div class="col-lg-8">
                <h2 class="main-title">
                    <%= mealsTitle %>
                </h2>
                <div class="main-flex">
                    <% meals.forEach(meal => { %>
                        <div class="card m-2 p-2 w-25">
                            <a href="/meals/<%= meal.idMeal %>">
                                <img src="<%= meal.strMealThumb %>" class="card-img-top w-100" alt="meal">
                            </a>
                            <div class="card-body py-2">
                                <h6 class="card-title text-center">
                                    <%= meal.strMeal %>
                                </h6>
                                <div class="card-params">
                                    <span>
                                    <%= meal.price %>
                                </span>
                                    <span class="qty-wrap">
                                    <span class="qty-minus"><i class="fa fa-minus"></i></span>
                                    <input type="number" name="qty" class="qty" value="1" min="1" style="width: 60px;">
                                    <span class="qty-plus"><i class="fa fa-plus"></i></span>
                                    </span>
                                    <form action="/" method="POST">
                                        <input type="hidden" name="mealID" value="<%= meal.idMeal %>">
                                        <button type="submit" class="btn btn-warning ml-auto p-2">Details</button>
                                    </form>
                                </div>


                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
            <%- include('./partials/areas-menu'); -%>
    </div>
    <%- include('./partials/footer'); -%>