<!-- <div class="container-fluid">
        <h2 class="main-title">
            <%= title %>
        </h2>
        <div class="row main-row">
            <div class="col">
                <img src="<%= picture %>" alt="<%= title %>">
                <h3 class="text-center">
                    Recipe:
                </h3>
                <p class="text-justify">
                    <%= recipe %>
                </p>
            </div>
            <div class="col">
                <div><span>Category: </span>
                    <span class="font-weight-bold"><%= category %></span>
                </div>
                <div><span>Cuisine: </span>
                    <span class="font-weight-bold"><%= cuisine %></span>
                </div>
                <div>
                    <h3 class="text-left">Ingredients:</h3>
                    <ul>
                        <% ingredients.forEach(elem => { %>
                            <li>
                                <%= elem.ingredient %>
                                    <%= elem.measure %>
                            </li>
                            < %}); %>
                    </ul>
                </div>
                <p>
                    <i class="fab fa-youtube"></i>
                    <a href="<%= movie %>">Recipe in action</a>
                </p>
            </div>
        </div>
    </div> -->